@model MessagesListViewModel
@{
    ViewBag.Title = "Messages";
}

@await Component.InvokeAsync("MeetingTabs", new
{
    meetingId = Model.MeetingId, tabName = MeetingTabName.Messages,
    isCreateMode = false
})

@if (Model.Messages.Count() == 0)
{
    <p>No messages</p>
}
else
{
    foreach (var message in Model.Messages)
    {
        <div class="row">
            <div class="col">
                @message.Text
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-1 text-left plainText">
                <a href="#" onclick="ShowMessage(@message.MessageId)"><img src="/lib/custom/img/edit-message-pencil.png" alt="edit"/></a>
            </div>
            <div class="col-1 text-left plainText">
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="@message.MessageId"/>
                    <button type="submit" class="btn btn-link btn-xs">Delete</button>
                </form>
            </div>
            <div class="col-10 text-right">
                @message.Author @message.Created
            </div>
        </div>
    }
}


<form class="form-inline" asp-action="Create" method="post">
    <input type="hidden" name="meetingId" value="@Model.MeetingId.ToString()"/>
    <textarea asp-for="Text" class="form-control mr-sm-2 mb-2 mb-sm-0" placeholder="Type message" rows="3"></textarea>
    <button type="submit" class="btn btn-info mt-2 mt-sm-0">Send</button>
</form>


<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalTitle">Edit message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="messageModalBody">


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="reset" value="Submit" class="btn btn-primary" id="btnSubmit" onclick="EditMessage()"/>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script>
    let ShowMessage = function(id) {
        $.ajax({
            type: "POST",
            url: "/Message/ShowMessage",
            data: { id: id },
            success: function(response) {
                $("#messageModalBody").html(response);
                $("#messageModal").modal("show");
            }

        })
    }

    let EditMessage = function() {
        $(document).ready(function() {
            const message = $("#messageForm").serialize();

            $.ajax({
                    type: "POST",
                    url: "/Message/Edit",
                    data: message,
                    success: function() {
                        $("#messageModal").modal("hide");
                        location.reload();
                    }
                }
            )
        })
    }
</script>