@model MessagesListViewModel
@{
    ViewBag.Title = "Meeting";
}

@await Component.InvokeAsync("MeetingTabs", new
{
    meetingId = Model.MeetingId, tabName = MeetingTabName.Messages,
    isCreateMode = false
})

<div>
    <form class="form-inline" asp-action="Create" method="post">
        <input type="hidden" name="meetingId" value="@Model.MeetingId.ToString()"/>
        <textarea asp-for="Text" class="form-control mr-sm-2 mb-2 mb-sm-0 w-50" placeholder="Type message" rows="3"></textarea>
        <button type="submit" class="btn btn-info mt-2 mt-sm-0">Send</button>
    </form>
</div>


<table class="table table-hover mt-3">
    @if (!Model.Messages.Any())
    {
        <tr>
            <td colspan="2" class="text-center">No messages</td>
        </tr>
    }
    else
    {
        @foreach (var message in Model.Messages)
        {
            <tr>
                <td class="tdAvatar">
                    <div>
                        <img gravatar-email="@message.Author.Email" alt="Avatar"/>
                    </div>
                </td>
                <td class="text-left">
                    <div class="messageFooter"><span class="font-weight-bold">@message.Author</span>, <span class="text-black-50">@message.Created.ToString()</span></div>
                    <div>@message.Text</div>
                </td>
                <td class="text-right">
                    @if (message.Author.UserName == User?.Identity?.Name)
                    {
                        <button class="buttonForIcons" onclick="showMessage(@message.MessageId.ToString())">
                            <i class="fas fa-pencil-alt icons" data-toggle="tooltip" title="@Constants.EditMessageTooltip"></i>
                        </button>
                        <form asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@message.MessageId.ToString()"/>
                            <button type="submit" class="buttonForIcons">
                                <i class="far fa-trash-alt icons" data-toggle="tooltip" title="@Constants.DeleteMessageTooltip"></i>
                            </button>
                        </form>
                    }
                </td>
            </tr>
        }
    }
</table>

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalTitle">Edit message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="messageModalBody">


            </div>
            <div class="modal-footer">
                <input type="reset" value="Save" class="btn btn-info" id="btnSubmit" onclick="editMessage()"/>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/custom/main.js"></script>

    <script>
        generateTooltip()
    </script>
}