@model FriendInvitationViewModel.SentInvitationsViewModel
@{
    ViewBag.Title = "Friend requests";
}

@await Component.InvokeAsync("InvitationTabs", new
{
    tabName = InvitationTabName.Sent
})

<div>
    <form asp-action="Sent" method="post" class="form-inline" novalidate>
        <label class="mr-sm-2 mb-0">Invite your friend:</label>
        <span asp-validation-for="InvitedEmail" class="text-danger"></span>
        <input asp-for="InvitedEmail" class="form-control mr-sm-2 mb-2 mb-sm-0" placeholder="Type email address"/>
        <button type="submit" class="btn btn-info mt-2 mt-sm-0">Send</button>
    </form>
</div>

<table class="table table-hover mt-3">

    @if (!Model.InvitedUsersList.Any())
    {
        <tr>
            <td colspan="5" class="text-center">No invited people</td>
        </tr>
    }
    else
    {
        <tr>
            <th colspan="2">Invited person</th>
            <th>Post date</th>
            <th>Status</th>
        </tr>
        foreach (var item in Model.InvitedUsersList)
        {
            <tr>
                <td class="tdAvatar">
                    <div>
                        <img gravatar-email="@item.InvitedEmail" alt="Avatar"/>
                    </div>
                </td>
                <td>@item.InvitedUser</td>
                <td>@item.PostDate</td>
                @switch (item.Status)
                {
                    case FriendInvitationStatus.Accepted:
                        <td class="acceptedStatus">@item.Status.ToString()</td>
                        break;
                    case FriendInvitationStatus.Pending:
                        <td class="pendingStatus">@item.Status.ToString()</td>
                        break;
                    case FriendInvitationStatus.Rejected:
                        <td class="notAcceptedStatus">@item.Status.ToString()</td>
                        break;
                    default:
                        <td class="text-primary">@item.Status.ToString()</td>
                        break;
                }
            </tr>
        }
    }
</table>