@model InvitedUserViewModel.InvitedUserListViewModel
@{
    ViewBag.Title = "Invited users";
}
@await Component.InvokeAsync("MeetingTabs", new
{
    meetingId = @Model.MeetingId, tabName = TabName.Users,
    isCreateMode = false
})

<table class="table table-striped">
    <tr>
        <th class="text-left">Name</th>
        <th class="text-left">Confirmed?</th>
        <th class="text-left">Actions</th>
    </tr>

    @if (Model.InvitedUsers.Count() == 0)
    {
        <tr>
            <td colspan="3" class="text-center">No invited users</td>
        </tr>
    }
    else
    {
        foreach (var item in Model.InvitedUsersList)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.IsAccepted</td>
                <td>
                    <form method="post">
                        <input type="hidden" name="userId" value="@item.Id"/>
                        <input type="hidden" name="meetingId" value="@Model.MeetingId.ToString()"/>
                        <button asp-action="Delete" type="submit" class="btn btn-danger btn-sm">Delete</button>
                        <button asp-action="SetIsAccepted" type="submit" class="btn btn-secondary btn-sm">
                            @(item.IsAccepted == false ? "Accept" : "Cancel")
                        </button>
                    </form>
                </td>
            </tr>
        }
    }
</table>

@if (Model.AvailableUsers.Any())
{
    <form class="form-inline" asp-action="Add" method="post">
        <label class="mr-sm-2">Select user:</label>
        <select class="form-control mb-2 mr-sm-2" asp-for="SelectedToInviteUserId" asp-items="@(new SelectList(Model.AvailableUsers, "Id", "UserName"))"></select>
        <input type="hidden" name="meetingId" value="@Model.MeetingId.ToString()"/>
        <button type="submit" class="btn btn-primary mb-2">Invite</button>
    </form>
}