@model InvitedUserViewModel.InvitedUserListViewModel
@{
    ViewBag.Title = "Invited users";
}
@await Component.InvokeAsync("MeetingTabs")

<table class="table table-striped">
    <tr>
        <th class="text-left">Title</th>
        <th class="text-left">Actions</th>
    </tr>

    @if (Model.InvitedUsers.Count() == 0)
    {
        <tr>
            <td colspan="2" class="text-center">No invited users</td>
        </tr>
    }
    else
    {
        foreach (AppUser user in Model.InvitedUsers)
        {
            <tr>
                <td>@user.UserName</td>
                <td>
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="userId" value="@user.Id"/>
                        <input type="hidden" name="meetingId" value="@Model.MeetingId.ToString()"/>
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        }
    }
</table>

<form asp-action="Add" method="post">
    <select asp-for="SelectedToInviteUserId" asp-items="@(new SelectList(Model.AvailableUsers, "Id", "UserName"))"></select>
    <input type="hidden" name="meetingId" value="@Model.MeetingId.ToString()"/>
    <button type="submit" class="btn bg-primary btn-sm">Add</button>
</form>