@model InvitedUserViewModel.InvitedUserListViewModel
@{
    ViewBag.Title = "Meeting";
}
@await Component.InvokeAsync("MeetingTabs", new
{
    meetingId = Model.MeetingId, tabName = MeetingTabName.People,
    isCreateMode = false
})

<table class="table table-striped">
    <tr>
        <th class="text-left">Name</th>
        <th class="text-left">Status</th>
        <th class="text-left">Actions</th>
    </tr>

    @if (!Model.InvitedUsersList.Any())
    {
        <tr>
            <td colspan="3" class="text-center">No invited users</td>
        </tr>
    }
    else
    {
        foreach (var item in Model.InvitedUsersList)
        {
            <tr>
                <td>@item.DisplayedUserName</td>
                <td>@item.Status</td>
                <td>
                    <form method="post">
                        <input type="hidden" name="userId" value="@item.Id"/>
                        <input type="hidden" name="meetingId" value="@Model.MeetingId.ToString()"/>
                        @if (Model.IsEditable)
                        {
                            <button asp-action="Delete" type="submit" class="btn btn-danger btn-sm">Delete</button>
                        }
                        @if (item.UserName == User.Identity.Name)
                        {
                            if (item.Status == InvitationStatus.Pending || item.Status == InvitationStatus.Rejected
                                || item.Status == InvitationStatus.Cancelled)
                            {
                                <button asp-action="ChangeStatus" type="submit" class="btn btn-info btn-sm" asp-route-status="Accepted">
                                    Accept
                                </button>
                            }
                            if (item.Status == InvitationStatus.Pending)
                            {
                                <button asp-action="ChangeStatus" type="submit" class="btn btn-danger btn-sm" asp-route-status="Rejected">
                                    Reject
                                </button>
                            }
                            if (item.Status == InvitationStatus.Accepted)
                            {
                                <button asp-action="ChangeStatus" type="submit" class="btn btn-danger btn-sm" asp-route-status="Cancelled">
                                    Cancel
                                </button>
                            }
                        }
                    </form>
                </td>
            </tr>
        }
    }
</table>

@if (Model.AvailableUsers.Any())
{
    <form class="form-inline" asp-action="Add" method="post">
        <label class="mr-sm-2 mb-0">Select user:</label>
        <select class="form-control mr-sm-2 mb-2 mb-sm-0 custom-select" asp-for="SelectedToInviteUserId"
                asp-items="@(new SelectList(Model.AvailableUsers, "Id", "FullName"))">
        </select>
        <input type="hidden" name="meetingId" value="@Model.MeetingId.ToString()"/>
        @if (Model.IsEditable)
        {
            <button type="submit" class="btn btn-info mt-2 mt-sm-0">Invite</button>
        }
        <a asp-controller="Meeting" asp-action="List" class="btn btn-secondary ml-1">Cancel</a>

    </form>
}