@model InvitedUserViewModel.InvitedUserListViewModel
@{
    ViewBag.Title = "Invited users";
}
@await Component.InvokeAsync("MeetingTabs", new
{
    meetingId = @Model.MeetingId, tabName = TabName.Users,
    isCreateMode = false
})

<table class="table table-striped">
    <tr>
        <th class="text-left">Name</th>
        <th class="text-left">Status</th>
        <th class="text-left">Actions</th>
    </tr>

    @if (Model.InvitedUsers.Count() == 0)
    {
        <tr>
            <td colspan="3" class="text-center">No invited users</td>
        </tr>
    }
    else
    {
        foreach (var item in Model.InvitedUsersList)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Status</td>
                <td>
                    <form method="post">
                        <input type="hidden" name="userId" value="@item.Id"/>
                        <input type="hidden" name="meetingId" value="@Model.MeetingId.ToString()"/>
                        <button asp-action="Delete" type="submit" class="btn btn-danger btn-sm">Delete</button>
                        @if (item.Status == InvitationStatus.Pending || item.Status == InvitationStatus.Rejected
                            || item.Status == InvitationStatus.Cancelled)
                        {
                            <button asp-action="ChangeStatus" type="submit" class="btn btn-success btn-sm" asp-route-status="Accepted">
                                Accept
                            </button>
                        }
                        @if (item.Status == InvitationStatus.Pending)
                        {
                            <button asp-action="ChangeStatus" type="submit" class="btn btn-warning btn-sm" asp-route-status="Rejected">
                                Reject
                            </button>
                        }
                        @if (item.Status == InvitationStatus.Accepted)
                        {
                            <button asp-action="ChangeStatus" type="submit" class="btn btn-warning btn-sm" asp-route-status="Cancelled">
                                Cancel
                            </button>
                        }
                    </form>
                </td>
            </tr>
        }
    }
</table>

@if (Model.AvailableUsers.Any())
{
    <form class="form-inline" asp-action="Add" method="post">
        <div asp-validation-summary="All"></div>
        <label class="mr-sm-2">Select user:</label>
        <span asp-validation-for="SelectedToInviteUserId" class="text-danger"></span>
        <select class="form-control mb-2 mr-sm-2" asp-for="SelectedToInviteUserId" asp-items="@(new SelectList(Model.AvailableUsers, "Id", "UserName"))"></select>
        <input type="hidden" name="meetingId" value="@Model.MeetingId.ToString()"/>
        <button type="submit" class="btn btn-primary mb-2">Invite</button>
    </form>
}