@model InvitedUserViewModel.InvitedUserListViewModel
@{
    ViewBag.Title = "Invited users";
}
@await Component.InvokeAsync("MeetingTabs", new {meetingId = @Model.MeetingId, tabName = TabName.Users, 
    isCreateMode = false})

<table class="table table-striped">
    <tr>
        <th class="text-left">Name</th>
        <th class="text-left">Is accepted</th>
        <th class="text-left">Actions</th>
    </tr>

    @if (Model.InvitedUsers.Count() == 0)
    {
        <tr>
            <td colspan="3" class="text-center">No invited users</td>
        </tr>
    }
    else
    {
        foreach (var item in Model.InvitedUsersList)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.IsAccepted</td>
                <td>
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="userId" value="@item.Id"/>
                        <input type="hidden" name="meetingId" value="@Model.MeetingId.ToString()"/>
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        <button class="btn btn-secondary btn-sm">Accept</button>
                    </form>
                </td>
            </tr>
        }
    }
</table>

@if (Model.AvailableUsers.Any())
{
    <form asp-action="Add" method="post">
        <select asp-for="SelectedToInviteUserId" asp-items="@(new SelectList(Model.AvailableUsers, "Id", "UserName"))"></select>
        <input type="hidden" name="meetingId" value="@Model.MeetingId.ToString()"/>
        <button type="submit" class="btn btn-primary btn-sm">Add</button>
    </form>
}