@model GamesListViewModel
@{
    ViewBag.Title = "Games";
}

<form asp-action="List" class="form-inline mb-4" method="get">
    @await Component.InvokeAsync("SearchFields", new {ActionMethod = "List"})
    <a asp-action="Create" class="btn btn-info ml-auto">Add Game</a>
</form>

<table class="table table-hover">
    <tr>
        <th class="text-left standardLink">
            <a asp-action="List" asp-route-sortOrder="@ViewData["TitleSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Title</a>
        </th>
        <th class="text-left">Photo</th>
        <th class="text-left">Action</th>
    </tr>

    @if (!Model.Games.Any())
    {
        <tr>
            <td colspan="3" class="text-center">No games</td>
        </tr>
    }
    else
    {
        foreach (var game in Model.Games)
        {
            <tr>
                <td>@game.Title</td>
                <td>
                    @if (game.PhotoPath != null)
                    {
                        var photoPath = $"~/gamephotos/{game.PhotoPath}";
                        <img src="@photoPath" alt="no image" asp-append-version="true" class="imageGame"/>
                    }
                    else
                    {
                        <img src="/lib/custom/img/noImageAlien.jpg" alt="no image" asp-append-version="true" class="imageGame"/>
                    }
                </td>
                <td>
                    <form asp-action="Delete" method="post">
                        <a asp-action="Edit" class="btn btn-sm btn-success" asp-route-id="@game.GameId">Edit</a>
                        <input type="hidden" name="id" value="@game.GameId"/>
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        }
    }
</table>
@await Component.InvokeAsync("PaginationTabs", new
{
    HasPreviousPage = Model.Games.HasPreviousPage,
    HasNextPage = Model.Games.HasNextPage,
    PageIndex = Model.Games.PageIndex,
    ActionMethod = nameof(GameController.List)
})
<form asp-action="PopulateGames" method="post">
    <button class="btn btn-info" type="submit">Populate</button>
</form>