@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
@await Component.InvokeAsync("BeforeLoginNav", new
{
    pageName = BeforeLoginPageName.Login
})

<div class="container">
    <div class="row bodyBeforeLogin">
        <div class="col-md-4 col-sm-12 loginImage"></div>
        <div class="col-md-6 col-sm-12 loginForm">
            <header>
                <h2>@ViewBag.Title</h2>
            </header>
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">
                    <p>@TempData["SuccessMessage"]</p>
                </div>
            }
            <form asp-action="LoginAsync" method="post">
                <div class="form-group">
                    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl"/>
                    <label asp-for="Email"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <input asp-for="Email" class="form-control"/>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <input asp-for="Password" class="form-control"/>
                </div>
                <button class="btn mainButtonBeforeLogin btn-block" type="submit">LOG IN</button>
            </form>
            <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" asp-route-pageType="@AuthPageType.Login.ToString()">
                <div>
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <button class="btn secondProviderButtonBeforeLogin btn-block" type="submit" name="provider" value="@provider.Name">
                            Log in with <i class="fab fa-@provider.Name.ToLower()"></i>
                        </button>
                    }
                </div>
                <input id="TimeZoneInput" type="hidden" asp-for="TimeZone"/>

            </form>
            <div>
                <h4>Don't have an account?</h4>
            </div>
            <a asp-action="Register" class="btn secondButtonBeforeLogin btn-block">REGISTER</a>
            <div class="mt-2">
                <h4>Forgotten Password?</h4>
            </div>
            <a asp-action="SendResetPasswordLink" class="btn thirdButtonBeforeLogin btn-block">RESET PASSWORD</a>
        </div>
        <div class="col-md-2 col-sm-12"></div>
    </div>
</div>

<script>
  setTimeZoneInput()
</script>